@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

// IMPORT COMPONENTS
// @use 'components/button';
@import 'components/mixins';

//IMPORT THE SECTIONS
@import 'sections/nav';
@import 'sections/hero';
@import 'sections/counter';
@import 'sections/features';
@import 'sections/plan';
@import 'sections/global';
@import 'sections/brand';
@import 'sections/review';
@import 'sections/subscribe';
@import 'sections/footer';